.contentBoard {
    position: absolute;
    height: 100%;
    width: calc((100vh - 100px));
    left: 50%;
    transform: translate(-50%, 0%);
    overflow: hidden;
}
.chessboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    cursor: grab;
    div {
        width: calc((100vh - 100px) / 8);
        height: calc((100vh - 100px) / 8);
        background-size: 100%;
        background-repeat: no-repeat;
        pointer-events: visible;
        position: relative;
    }
    overflow: hidden;
}

.cursor {
    position: absolute;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: none;
    transform: translate(-50%, -50%);
    left: 50px;
    pointer-events: none;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.516));
    animation: zooom infinite 0.8s;
}
@keyframes zooom {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.casePlay {
    background-color: rgba(0, 255, 195, 0.526) !important;
}

.casepossible {
    overflow: hidden;
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 3vh;
        height: 3vh;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.63);
        box-shadow: 0 0 5px -1px rgb(255, 255, 255);
    }
    &:hover {
        &::after {
            background-color: rgb(255, 255, 255);
        }
    }
}

.promotion {
    position: absolute;
    display: none;
    width: calc((100%) / 8);
    top: 0px;
    left: 0px;
    z-index: 20;
    background-color: rgb(255, 255, 255);
    text-align: center;
    user-select: none;
    img {
        width: calc(100% - 40px);
        padding: 20px;
        background-color: rgb(40, 65, 31);
        border-radius: 50%;
        cursor: pointer;
        transition: 0.5s;
        user-select: none;
        &:hover {
            border-radius: 0%;
        }
    }
}

.menu {
    user-select: none;
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    background-color: black;
    text-align: center;
    h3 {
        color: rgb(70, 0, 128);
        margin: auto;
        font-size: 3vh;
        user-select: none;
    }
    button {
        margin: 10px 0;
        background-color: white;
        color: black;
        padding: 10px 30px;
        letter-spacing: 1px;
        font-weight: 800;
        cursor: pointer;
        bottom: 10px;
        left: 50%;
        margin: auto;
        border-radius: 5px;
        user-select: none;
        &:hover {
            background-color: black;
            color: white;
        }
    }
}
.mid {
    width: 100%;
    height: calc(100% - 100px);
    position: relative;
    left: 0;
    top: 0;
    display: block !important;
}

.animation {
    background-color: rgba(0, 0, 0, 0.397);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    user-select: none;
    h1 {
        color: rgb(70, 0, 128);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        text-shadow: 0 0 5px black;
        font-size: 80px;
        text-align: center;
        width: 100%;
    }
}
